.breadcrumbs__list {
  display: flex;
  row-gap: 1.25rem;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  margin: 0 0.625rem;
}
.breadcrumbs__link {
  font-size: 0.8125rem;
  line-height: 185%;
  color: #898989;
  transition: color 0.3s;
}
.breadcrumbs__item--active .breadcrumbs__link {
  color: #000;
}
@media (width <= 35em) {
  .breadcrumbs__list {
    justify-content: center;
  }
}
@media (max-width: 35em) {
  .breadcrumbs {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 35em) and (max-width: 84.375em) {
  .breadcrumbs {
    margin-bottom: clamp( 1.875rem , 0.98892405063125rem  +  2.5316455696vw , 3.125rem );
  }
}
@media (min-width: 84.375em) {
  .breadcrumbs {
    margin-bottom: 3.125rem;
  }
}
@media (any-hover: hover) and (any-pointer: fine) {
  .breadcrumbs__link:hover {
    color: #b30019;
  }
}
@media (any-hover: none) and (any-pointer: coarse) {
  .breadcrumbs__link:active {
    color: #b30019;
  }
}