.reviews__container {
  position: relative;
}

.reviews__content {
  flex: 0 0 59.62963%; /* 805/1350 */
}
.reviews__main-title {
  display: none;
}.questionnaires__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.375rem;
  align-items: center;
}
.questionnaires__title {
  margin-bottom: 0;
}
.questionnaires__slide {
  display: flex;
}
.questionnaires__img-data {
  flex: 0 0 48.888889%; /* 660/1350 */
  position: relative;
  border-radius: 1.5rem 0 0 1.5rem;
}
.questionnaires__img-data img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.questionnaires__label-mob {
  display: none;
}
.questionnaires__light {
  transform: translateY(-0.125rem);
  margin-right: 0.625rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #85e150;
}
.questionnaires__light.questionnaires__light-mob {
  display: none;
}
.questionnaires__content {
  position: relative;
  border-radius: 0 1.5rem 1.5rem 0;
  padding: 3.75rem;
  background-color: rgba(159, 99, 107, 0.05);
}
.questionnaires__text {
  position: relative;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 130%;
  letter-spacing: -0.03em;
  margin-bottom: 2.1875rem;
}
.questionnaires__text.quote::before {
  width: 2.75rem;
  height: 2.75rem;
  left: -1.25rem;
}
.questionnaires__hobbies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-bottom: 2.8125rem;
}
.questionnaires__hobby {
  border: 0.0625rem solid #ddd;
  border-radius: 6.25rem;
  padding: 0.875rem 1.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 160%;
  color: #333;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.questionnaires .main__navigation > * {
  display: grid;
  place-items: center;
}
.page__reviews {
  margin-bottom: 10.25rem;
}
.page__faq {
  margin-bottom: 10rem;
}
.page__questionnaires {
  margin-bottom: 10rem;
}
@media (width <= 62em) {
  .questionnaires__img-data {
    flex: 0 0 39.784946%; /* 370/930 */
  }
  .questionnaires__content {
    padding: 2.5rem;
  }
  .page__reviews {
    margin-bottom: 5.625rem;
  }
  .page__faq {
    margin-bottom: 5.625rem;
  }
  .page__questionnaires {
    margin-bottom: 5.625rem;
  }
}
@media (max-width: 62em) {
  .reviews__title {
    margin-bottom: 2.375rem;
  }
}
@media (width <= 56.25rem) and (max-width: 23.75em) {
  .questionnaires__top {
    margin-bottom: 2.5rem;
  }
}
@media (width <= 56.25rem) {
  .questionnaires__top-slide {
    display: flex;
    align-items: flex-start;
    gap: 1.875rem;
    margin-bottom: 1.875rem;
  }
  .questionnaires__img-data {
    flex: 0 0 8.75rem;
    aspect-ratio: 1/1;
    position: relative;
  }
  .questionnaires__img-data img {
    border-radius: 100%;
  }
  .questionnaires__label-mob {
    display: block;
    margin-bottom: 0.625rem;
  }
  .questionnaires__light.questionnaires__light-mob {
    margin-right: 0;
    display: inline-block;
    position: absolute;
    transform: none;
    bottom: -0.4375rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .questionnaires__text {
    font-size: 1.25rem;
  }
  .questionnaires__hobbies {
    margin-bottom: 1.875rem;
  }
  .questionnaires__data .quote::before {
    display: none;
  }
}
@media (width <= 48em) {
  .reviews__title {
    display: none;
  }
  .reviews .main__button {
    padding: 1rem 1.5rem;
    font-size: 0.875rem;
  }
  .reviews .main__navigation > * {
    padding: 0.6875rem;
    display: grid;
    place-items: center;
  }
  .questionnaires__slider {
    margin-right: -2.4375rem;
  }
  .questionnaires__content {
    border-radius: 1.5rem;
  }
  .main__container {
    padding-right: 0;
  }
  .page__reviews {
    margin-bottom: 5rem;
  }
  .page__faq {
    margin-bottom: 5rem;
  }
  .page__questionnaires {
    margin-bottom: 5rem;
  }
}
@media (width <= 42.5rem) {
  .reviews__content {
    text-align: center;
  }
  .reviews__main-title {
    display: block;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .reviews .main__navigation {
    position: absolute;
    top: 3.9375rem;
    left: 50%;
    transform: translateX(-50%);
    width: 19.625rem;
    justify-content: space-between;
  }
}
@media (width <= 35em) and (max-width: 23.75em) {
  .questionnaires__img-data {
    width: 5rem;
  }
  .questionnaires__text {
    font-size: 1rem;
  }
}
@media (width <= 35em) {
  .reviews__main-title {
    margin-bottom: 1.875rem;
  }
  .reviews .main__button {
    width: 100%;
    justify-content: center;
  }
  .reviews .main__navigation {
    width: 100%;
  }
  .questionnaires__top {
    justify-content: center;
  }
  .questionnaires__top .main__navigation {
    display: none;
  }
  .questionnaires__slider {
    margin-right: -1.9375rem;
  }
  .questionnaires__top-slide {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25rem;
    gap: 1.25rem;
  }
  .questionnaires__img-data {
    flex-basis: initial;
  }
  .questionnaires__data {
    text-align: center;
  }
  .questionnaires__content {
    padding: 1.875rem;
  }
  .questionnaires__text {
    margin-bottom: 0;
  }
  .questionnaires__hobbies {
    justify-content: center;
  }
  .questionnaires__hobby {
    padding: 0.625rem 1rem;
    font-size: 0.8125rem;
  }
  .questionnaires .header__actions {
    position: static;
    justify-content: center;
  }
  .page__reviews {
    margin-bottom: 3.125rem;
  }
  .page__faq {
    margin-bottom: 3.125rem;
  }
  .page__questionnaires {
    margin-bottom: 3.125rem;
  }
}
@media (width <= 23.75em) {
  .questionnaires__slider {
    margin-right: -1.25rem;
  }
}
@media (max-width: 23.75em) {
  .page__main {
    margin-bottom: 3.125rem;
  }
}
@media (width <= 56.25rem) and (min-width: 62em) {
  .questionnaires__top {
    margin-bottom: 3.125rem;
  }
}
@media (width <= 35em) and (min-width: 35em) {
  .questionnaires__img-data {
    width: 8.75rem;
  }
  .questionnaires__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 23.75em) and (max-width: 84.375em) {
  .page__main {
    margin-bottom: clamp( 3.125rem , 2.1456185567rem  +  4.1237113402vw , 5.625rem );
  }
}
@media (width <= 35em) and (min-width: 23.75em) and (max-width: 35em) {
  .questionnaires__img-data {
    width: clamp( 5rem , -2.91666666666875rem  +  33.3333333333vw , 8.75rem );
  }
  .questionnaires__text {
    font-size: clamp( 1rem , 0.472222222225rem  +  2.2222222222vw , 1.25rem );
  }
}
@media (width > 48em) {
  .reviews .main__actions {
    padding-left: 1.875rem;
  }
}
@media (width > 56.25rem) {
  .questionnaires .header__button {
    padding: 1.375rem 2.25rem;
    font-size: 1.125rem;
  }
}
@media (width <= 56.25rem) and (min-width: 23.75em) and (max-width: 62em) {
  .questionnaires__top {
    margin-bottom: clamp( 2.5rem , 2.111928104575rem  +  1.6339869281vw , 3.125rem );
  }
}
@media (min-width: 62em) and (max-width: 84.375em) {
  .reviews__title {
    margin-bottom: clamp( 2.375rem , -3.16689944134375rem  +  8.938547486vw , 4.375rem );
  }
}
@media (min-width: 84.375em) {
  .reviews__title {
    margin-bottom: 4.375rem;
  }
  .page__main {
    margin-bottom: 5.625rem;
  }
}
@media (any-hover: hover) and (any-pointer: fine) {
  .questionnaires__hobby:hover {
    color: #b30019;
    border-color: #b30019;
  }
}
@media (any-hover: none) and (any-pointer: coarse) {
  .questionnaires__hobby:active {
    color: #b30019;
    border-color: #b30019;
  }
}