* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
  min-width: 23.75rem;
  color: #000;
  font-family: "Roboto";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 88.25rem;
  margin: 0 auto;
  padding-left: 1.9375rem;
  padding-right: 1.9375rem;
}.menu {
  flex: 1;
}
.menu__body {
  background: #f7f7f7;
  border-radius: 1rem;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding-block: 1.125rem;
}
.menu__link {
  font-weight: 500;
  line-height: 140%;
  color: #333;
  transition: color 0.3s;
}

.icon-menu {
  display: none;
}.header {
  padding-block: 2rem;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  flex: 0 0 4.625rem;
}
.header__actions {
  display: flex;
  gap: 1.25rem;
  position: relative;
}
.header__human {
  display: none;
}
.header__mobile-button {
  border: 0.0625rem solid #ddd;
  border-radius: 1rem;
  padding: 1.3125rem 1.25rem;
  position: relative;
}.button {
  display: inline-flex;
  border: 0.0625rem solid #ddd;
  border-radius: 1rem;
  padding: 1.125rem 1.875rem;
  background-color: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 140%;
  color: #333;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.button__red {
  color: #fff;
  background-color: #66000E;
}
.button--fw {
  width: 100%;
}.test {
  font-weight: 600;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: -0.03em;
}@media (width <= 62em) {
  .header__actions {
    margin-right: 2.5rem;
  }
}@media (max-width: 62em) and (width <= 35em) {
  .menu__body {
    padding: 7.375rem 0.125rem 1.875rem 1.25rem;
  }
  .menu__body::before {
    height: 7.375rem;
  }
}@media (max-width: 62em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}@media (max-width: 62em) {
  .menu {
    margin-inline: 1.5625rem;
  }
  .menu__body {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 8.625rem 1.9375rem 1.875rem 1.9375rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    background: #fff;
    width: 100%;
    height: 8.625rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    padding-inline: 1.25rem;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2.5rem;
    padding: 0;
  }
  .menu__link {
    font-size: 2rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.125rem;
    height: 0.875rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #333;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}@media (width <= 48em) {
  [class*=__container] {
    padding-inline: 2.4375rem;
  }
  .header__actions {
    margin-right: 1.25rem;
  }
}@media (width <= 35em) {
  [class*=__container] {
    padding-inline: 1.25rem;
  }
  .menu {
    position: absolute;
  }
  .header {
    padding-block: 1.375rem;
  }
  .header__logo {
    order: 1;
  }
  .header__actions {
    margin-right: 0rem;
    position: absolute;
    z-index: 2;
    top: 1.875rem;
    left: 6.25rem;
  }
  .header__button[class] {
    padding: 1.125rem 1.5rem;
  }
  .header__human {
    display: block;
    order: 2;
    border: 0.0625rem solid #ddd;
    border-radius: 1rem;
    padding: 1.0625rem;
  }
}@media (width > 35em) {
  .header__logo {
    position: relative;
    z-index: 2;
  }
}@media (width > 62em) {
  .header__mobile-button {
    display: none;
  }
}@media (min-width: 62em) and (max-width: 84.375em) {
  .menu {
    margin-inline: clamp( 1.5625rem , -8.3090083798875rem  +  15.9217877095vw , 5.125rem );
  }
  .menu__list {
    padding-inline: clamp( 1.25rem , -3.94553072625625rem  +  8.3798882682vw , 3.125rem );
  }
}@media (min-width: 84.375em) {
  .menu {
    margin-inline: 5.125rem;
  }
  .menu__list {
    padding-inline: 3.125rem;
  }
}@media (any-hover: hover) and (any-pointer: fine) {
  .menu__link:hover {
    color: #b30019;
  }
  .button:hover {
    color: #b30019;
    border-color: #b30019;
  }
  .button__red:hover {
    color: #fff;
    background-color: #b30019;
  }
}@media (any-hover: none) and (any-pointer: coarse) {
  .menu__link:active {
    color: #b30019;
  }
  .button:active {
    color: #b30019;
    border-color: #b30019;
  }
  .button__red:active {
    color: #fff;
    background-color: #b30019;
  }
}